## syn_scan

Домашнее задание №12 (Работа по обработке и анализу данных)

### Источник.и данных
- [link1](https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/%D1%83%D0%BF%D1%80%D0%B0%D0%B6%D0%BD%D0%B5%D0%BD%D0%B8%D1%8F/data/synscan.csv): Взяли из репозитория

### Изменения
- 11-30-2020: Начал проект
- 11-30-2020: Закончил проект

[_Целиковый проект на GitHub_](https://github.com/endygamedev/python_projects_3sem)

### Импортированные модули

In [1]:
import pandas as pd
import numpy as np
import re
import datetime

In [27]:
df = pd.read_csv("https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/%D1%83%D0%BF%D1%80%D0%B0%D0%B6%D0%BD%D0%B5%D0%BD%D0%B8%D1%8F/data/synscan.csv")
df.head(5)
d = df

In [3]:
df.tail(5)

,No.,Time,Source,Destination,Protocol,Length,Info
2006,2007,9.387931,64.13.134.52,172.16.0.8,TCP,60,"[TCP Retransmission] 80 > 36050 [SYN, ACK] S..."
2007,2008,11.064190,64.13.134.52,172.16.0.8,TCP,60,"[TCP Retransmission] 22 > 36050 [SYN, ACK] S..."
2008,2009,21.093215,64.13.134.52,172.16.0.8,TCP,60,"[TCP Retransmission] 53 > 36050 [SYN, ACK] S..."
2009,2010,21.401180,64.13.134.52,172.16.0.8,TCP,60,"[TCP Retransmission] 80 > 36050 [SYN, ACK] S..."
2010,2011,23.085343,64.13.134.52,172.16.0.8,TCP,60,"[TCP Retransmission] 22 > 36050 [SYN, ACK] S..."

In [4]:
df.Info[2010]

'[TCP Retransmission] 22  >  36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 Len=0 MSS=1380'

Найти фразу "TCP Retransmission", добавить столбец "TCP_Retransmission" со значением True, удалить фразу "TCP Retransmission":

In [5]:
df.Info.str.find("[TCP Retransmission]")

0      -1
1      -1
2      -1
3      -1
4      -1
       ..
2006    0
2007    0
2008    0
2009    0
2010    0
Name: Info, Length: 2011, dtype: int64

In [6]:
df["tcp_retransmission"] = df.Info.str.find("[TCP Retransmission]")  
df["tcp_retransmission"]

0      -1
1      -1
2      -1
3      -1
4      -1
       ..
2006    0
2007    0
2008    0
2009    0
2010    0
Name: tcp_retransmission, Length: 2011, dtype: int64

In [7]:
df["tcp_retransmission"] = np.where(df["tcp_retransmission"] == 0, True, False)
df["tcp_retransmission"]

0       False
1       False
2       False
3       False
4       False
        ...
2006     True
2007     True
2008     True
2009     True
2010     True
Name: tcp_retransmission, Length: 2011, dtype: bool

In [8]:
df.head()

,No.,Time,Source,Destination,Protocol,Length,Info,tcp_retransmission
0,1,0.000000,172.16.0.8,64.13.134.52,TCP,58,36050 > 443 [SYN] Seq=0 Win=3072 Len=0 MSS=1460,False
1,2,0.001539,172.16.0.8,64.13.134.52,TCP,58,36050 > 143 [SYN] Seq=0 Win=3072 Len=0 MSS=1460,False
2,3,0.001597,172.16.0.8,64.13.134.52,TCP,58,36050 > 3306 [SYN] Seq=0 Win=2048 Len=0 MSS=...,False
3,4,0.001650,172.16.0.8,64.13.134.52,TCP,58,36050 > 199 [SYN] Seq=0 Win=3072 Len=0 MSS=1460,False
4,5,0.001703,172.16.0.8,64.13.134.52,TCP,58,36050 > 111 [SYN] Seq=0 Win=1024 Len=0 MSS=1460,False

In [9]:
df.columns = [x.lower() for x in df.columns]
df.tail()

,no.,time,source,destination,protocol,length,info,tcp_retransmission
2006,2007,9.387931,64.13.134.52,172.16.0.8,TCP,60,"[TCP Retransmission] 80 > 36050 [SYN, ACK] S...",True
2007,2008,11.064190,64.13.134.52,172.16.0.8,TCP,60,"[TCP Retransmission] 22 > 36050 [SYN, ACK] S...",True
2008,2009,21.093215,64.13.134.52,172.16.0.8,TCP,60,"[TCP Retransmission] 53 > 36050 [SYN, ACK] S...",True
2009,2010,21.401180,64.13.134.52,172.16.0.8,TCP,60,"[TCP Retransmission] 80 > 36050 [SYN, ACK] S...",True
2010,2011,23.085343,64.13.134.52,172.16.0.8,TCP,60,"[TCP Retransmission] 22 > 36050 [SYN, ACK] S...",True

In [10]:
df["info"] = df["info"].str.replace(r"[TCP Retransmission]", "", regex=False) # отключаем регулярки
df["info"]

0       36050  >  443 [SYN] Seq=0 Win=3072 Len=0 MSS=1460
1       36050  >  143 [SYN] Seq=0 Win=3072 Len=0 MSS=1460
2       36050  >  3306 [SYN] Seq=0 Win=2048 Len=0 MSS=...
3       36050  >  199 [SYN] Seq=0 Win=3072 Len=0 MSS=1460
4       36050  >  111 [SYN] Seq=0 Win=1024 Len=0 MSS=1460
                              ...
2006     80  >  36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 ...
2007     22  >  36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 ...
2008     53  >  36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 ...
2009     80  >  36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 ...
2010     22  >  36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 ...
Name: info, Length: 2011, dtype: object

In [11]:
df["info"] = df["info"].str.strip()
df["info"]

0       36050  >  443 [SYN] Seq=0 Win=3072 Len=0 MSS=1460
1       36050  >  143 [SYN] Seq=0 Win=3072 Len=0 MSS=1460
2       36050  >  3306 [SYN] Seq=0 Win=2048 Len=0 MSS=...
3       36050  >  199 [SYN] Seq=0 Win=3072 Len=0 MSS=1460
4       36050  >  111 [SYN] Seq=0 Win=1024 Len=0 MSS=1460
                              ...
2006    80  >  36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 L...
2007    22  >  36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 L...
2008    53  >  36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 L...
2009    80  >  36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 L...
2010    22  >  36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 L...
Name: info, Length: 2011, dtype: object

### Сначала разберёмся с датами и временем

In [12]:
date_time = (pd.Period(datetime.datetime.now(), 'M') - 1).strftime("%Y-%m-%d %H:%M")    # пускай мы откатимся на недельну назад
formated_date_time = (pd.to_datetime(date_time) + pd.to_timedelta(df['time'].to_numpy(), 'D'))    # получили нужный для нас формат данных

In [13]:
df['date'] = formated_date_time.strftime('%Y-%m-%d')    # нужный формат именно даты
df['time'] = formated_date_time.strftime('%H:%M:%S')    # нужный формат именно времени
df

,no.,time,source,destination,protocol,length,info,tcp_retransmission,date
0,1,00:00:00,172.16.0.8,64.13.134.52,TCP,58,36050 > 443 [SYN] Seq=0 Win=3072 Len=0 MSS=1460,False,2020-10-31
1,2,00:02:12,172.16.0.8,64.13.134.52,TCP,58,36050 > 143 [SYN] Seq=0 Win=3072 Len=0 MSS=1460,False,2020-10-31
2,3,00:02:17,172.16.0.8,64.13.134.52,TCP,58,36050 > 3306 [SYN] Seq=0 Win=2048 Len=0 MSS=...,False,2020-10-31
3,4,00:02:22,172.16.0.8,64.13.134.52,TCP,58,36050 > 199 [SYN] Seq=0 Win=3072 Len=0 MSS=1460,False,2020-10-31
4,5,00:02:27,172.16.0.8,64.13.134.52,TCP,58,36050 > 111 [SYN] Seq=0 Win=1024 Len=0 MSS=1460,False,2020-10-31
...,...,...,...,...,...,...,...,...,...
2006,2007,09:18:37,64.13.134.52,172.16.0.8,TCP,60,"80 > 36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 L...",True,2020-11-09
2007,2008,01:32:26,64.13.134.52,172.16.0.8,TCP,60,"22 > 36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 L...",True,2020-11-11
2008,2009,02:14:13,64.13.134.52,172.16.0.8,TCP,60,"53 > 36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 L...",True,2020-11-21
2009,2010,09:37:41,64.13.134.52,172.16.0.8,TCP,60,"80 > 36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 L...",True,2020-11-21
2010,2011,02:02:53,64.13.134.52,172.16.0.8,TCP,60,"22 > 36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 L...",True,2020-11-23

In [14]:
df = df.reindex(columns=['no.', 'date', 'time', 'source', 'destination', 'protocol', 'length', 'info', 'tcp_retransmission'])
df

,no.,date,time,source,destination,protocol,length,info,tcp_retransmission
0,1,2020-10-31,00:00:00,172.16.0.8,64.13.134.52,TCP,58,36050 > 443 [SYN] Seq=0 Win=3072 Len=0 MSS=1460,False
1,2,2020-10-31,00:02:12,172.16.0.8,64.13.134.52,TCP,58,36050 > 143 [SYN] Seq=0 Win=3072 Len=0 MSS=1460,False
2,3,2020-10-31,00:02:17,172.16.0.8,64.13.134.52,TCP,58,36050 > 3306 [SYN] Seq=0 Win=2048 Len=0 MSS=...,False
3,4,2020-10-31,00:02:22,172.16.0.8,64.13.134.52,TCP,58,36050 > 199 [SYN] Seq=0 Win=3072 Len=0 MSS=1460,False
4,5,2020-10-31,00:02:27,172.16.0.8,64.13.134.52,TCP,58,36050 > 111 [SYN] Seq=0 Win=1024 Len=0 MSS=1460,False
...,...,...,...,...,...,...,...,...,...
2006,2007,2020-11-09,09:18:37,64.13.134.52,172.16.0.8,TCP,60,"80 > 36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 L...",True
2007,2008,2020-11-11,01:32:26,64.13.134.52,172.16.0.8,TCP,60,"22 > 36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 L...",True
2008,2009,2020-11-21,02:14:13,64.13.134.52,172.16.0.8,TCP,60,"53 > 36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 L...",True
2009,2010,2020-11-21,09:37:41,64.13.134.52,172.16.0.8,TCP,60,"80 > 36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 L...",True
2010,2011,2020-11-23,02:02:53,64.13.134.52,172.16.0.8,TCP,60,"22 > 36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 L...",True

### Работаем со столбцом _info_

Избавляемся от неприятного знака — '>'

In [15]:
df['info'] = df['info'].str.replace(r" > ", "", regex=False)

#### Разберёмся с флагами, которые в скобочках

In [16]:
def get_flags(row):
    return re.search(r"\[([A-Za-z0-9_, A-Za-z0-9_]+)\]", row).group(0)

In [17]:
df['flags'] = df['info'].map(get_flags)
df

,no.,date,time,source,destination,protocol,length,info,tcp_retransmission,flags
0,1,2020-10-31,00:00:00,172.16.0.8,64.13.134.52,TCP,58,36050 443 [SYN] Seq=0 Win=3072 Len=0 MSS=1460,False,[SYN]
1,2,2020-10-31,00:02:12,172.16.0.8,64.13.134.52,TCP,58,36050 143 [SYN] Seq=0 Win=3072 Len=0 MSS=1460,False,[SYN]
2,3,2020-10-31,00:02:17,172.16.0.8,64.13.134.52,TCP,58,36050 3306 [SYN] Seq=0 Win=2048 Len=0 MSS=1460,False,[SYN]
3,4,2020-10-31,00:02:22,172.16.0.8,64.13.134.52,TCP,58,36050 199 [SYN] Seq=0 Win=3072 Len=0 MSS=1460,False,[SYN]
4,5,2020-10-31,00:02:27,172.16.0.8,64.13.134.52,TCP,58,36050 111 [SYN] Seq=0 Win=1024 Len=0 MSS=1460,False,[SYN]
...,...,...,...,...,...,...,...,...,...,...
2006,2007,2020-11-09,09:18:37,64.13.134.52,172.16.0.8,TCP,60,"80 36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 Len=...",True,"[SYN, ACK]"
2007,2008,2020-11-11,01:32:26,64.13.134.52,172.16.0.8,TCP,60,"22 36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 Len=...",True,"[SYN, ACK]"
2008,2009,2020-11-21,02:14:13,64.13.134.52,172.16.0.8,TCP,60,"53 36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 Len=...",True,"[SYN, ACK]"
2009,2010,2020-11-21,09:37:41,64.13.134.52,172.16.0.8,TCP,60,"80 36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 Len=...",True,"[SYN, ACK]"
2010,2011,2020-11-23,02:02:53,64.13.134.52,172.16.0.8,TCP,60,"22 36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 Len=...",True,"[SYN, ACK]"

#### Теперь разберёмся с портами

In [18]:
def get_port(row, port):
    return row.split()[:2][port]

In [19]:
df['source_port'] = df['info'].map(lambda r, p = 0: get_port(r, p))
df['destination_port'] = df['info'].map(lambda r, p = 1: get_port(r, p))
df

,no.,date,time,source,destination,protocol,length,info,tcp_retransmission,flags,source_port,destination_port
0,1,2020-10-31,00:00:00,172.16.0.8,64.13.134.52,TCP,58,36050 443 [SYN] Seq=0 Win=3072 Len=0 MSS=1460,False,[SYN],36050,443
1,2,2020-10-31,00:02:12,172.16.0.8,64.13.134.52,TCP,58,36050 143 [SYN] Seq=0 Win=3072 Len=0 MSS=1460,False,[SYN],36050,143
2,3,2020-10-31,00:02:17,172.16.0.8,64.13.134.52,TCP,58,36050 3306 [SYN] Seq=0 Win=2048 Len=0 MSS=1460,False,[SYN],36050,3306
3,4,2020-10-31,00:02:22,172.16.0.8,64.13.134.52,TCP,58,36050 199 [SYN] Seq=0 Win=3072 Len=0 MSS=1460,False,[SYN],36050,199
4,5,2020-10-31,00:02:27,172.16.0.8,64.13.134.52,TCP,58,36050 111 [SYN] Seq=0 Win=1024 Len=0 MSS=1460,False,[SYN],36050,111
...,...,...,...,...,...,...,...,...,...,...,...,...
2006,2007,2020-11-09,09:18:37,64.13.134.52,172.16.0.8,TCP,60,"80 36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 Len=...",True,"[SYN, ACK]",80,36050
2007,2008,2020-11-11,01:32:26,64.13.134.52,172.16.0.8,TCP,60,"22 36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 Len=...",True,"[SYN, ACK]",22,36050
2008,2009,2020-11-21,02:14:13,64.13.134.52,172.16.0.8,TCP,60,"53 36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 Len=...",True,"[SYN, ACK]",53,36050
2009,2010,2020-11-21,09:37:41,64.13.134.52,172.16.0.8,TCP,60,"80 36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 Len=...",True,"[SYN, ACK]",80,36050
2010,2011,2020-11-23,02:02:53,64.13.134.52,172.16.0.8,TCP,60,"22 36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 Len=...",True,"[SYN, ACK]",22,36050

#### Посмотрим на атрибуты

Попробуем узнать сколько их всего

In [20]:
attrs = [[attr.split('=')[0] for attr in row.split() if '=' in attr] for row in df['info'].to_list()]

In [21]:
flatten = lambda l: [item for sublist in l for item in sublist]

In [22]:
all_attrs = set(flatten(attrs))
all_attrs

{'Ack', 'Len', 'MSS', 'Seq', 'Win'}

In [23]:
def get_attr(row, attr):
    return re.search(f'{attr}='+r'\d*', row).group(0).split('=')[-1] if attr in row else False

In [24]:
for attr in ('Seq', 'Win', 'Len', 'MSS', 'Ack'):
    df[attr.lower()] = df['info'].map(lambda r, a=attr: get_attr(r, a))
df

,no.,date,time,source,destination,protocol,length,info,tcp_retransmission,flags,source_port,destination_port,seq,win,len,mss,ack
0,1,2020-10-31,00:00:00,172.16.0.8,64.13.134.52,TCP,58,36050 443 [SYN] Seq=0 Win=3072 Len=0 MSS=1460,False,[SYN],36050,443,0,3072,0,1460,False
1,2,2020-10-31,00:02:12,172.16.0.8,64.13.134.52,TCP,58,36050 143 [SYN] Seq=0 Win=3072 Len=0 MSS=1460,False,[SYN],36050,143,0,3072,0,1460,False
2,3,2020-10-31,00:02:17,172.16.0.8,64.13.134.52,TCP,58,36050 3306 [SYN] Seq=0 Win=2048 Len=0 MSS=1460,False,[SYN],36050,3306,0,2048,0,1460,False
3,4,2020-10-31,00:02:22,172.16.0.8,64.13.134.52,TCP,58,36050 199 [SYN] Seq=0 Win=3072 Len=0 MSS=1460,False,[SYN],36050,199,0,3072,0,1460,False
4,5,2020-10-31,00:02:27,172.16.0.8,64.13.134.52,TCP,58,36050 111 [SYN] Seq=0 Win=1024 Len=0 MSS=1460,False,[SYN],36050,111,0,1024,0,1460,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2006,2007,2020-11-09,09:18:37,64.13.134.52,172.16.0.8,TCP,60,"80 36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 Len=...",True,"[SYN, ACK]",80,36050,0,5840,0,1380,1
2007,2008,2020-11-11,01:32:26,64.13.134.52,172.16.0.8,TCP,60,"22 36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 Len=...",True,"[SYN, ACK]",22,36050,0,5840,0,1380,1
2008,2009,2020-11-21,02:14:13,64.13.134.52,172.16.0.8,TCP,60,"53 36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 Len=...",True,"[SYN, ACK]",53,36050,0,5840,0,1380,1
2009,2010,2020-11-21,09:37:41,64.13.134.52,172.16.0.8,TCP,60,"80 36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 Len=...",True,"[SYN, ACK]",80,36050,0,5840,0,1380,1
2010,2011,2020-11-23,02:02:53,64.13.134.52,172.16.0.8,TCP,60,"22 36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 Len=...",True,"[SYN, ACK]",22,36050,0,5840,0,1380,1

In [25]:
df = df.drop('info', 1)    # избавились он колонки info
df

,no.,date,time,source,destination,protocol,length,tcp_retransmission,flags,source_port,destination_port,seq,win,len,mss,ack
0,1,2020-10-31,00:00:00,172.16.0.8,64.13.134.52,TCP,58,False,[SYN],36050,443,0,3072,0,1460,False
1,2,2020-10-31,00:02:12,172.16.0.8,64.13.134.52,TCP,58,False,[SYN],36050,143,0,3072,0,1460,False
2,3,2020-10-31,00:02:17,172.16.0.8,64.13.134.52,TCP,58,False,[SYN],36050,3306,0,2048,0,1460,False
3,4,2020-10-31,00:02:22,172.16.0.8,64.13.134.52,TCP,58,False,[SYN],36050,199,0,3072,0,1460,False
4,5,2020-10-31,00:02:27,172.16.0.8,64.13.134.52,TCP,58,False,[SYN],36050,111,0,1024,0,1460,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2006,2007,2020-11-09,09:18:37,64.13.134.52,172.16.0.8,TCP,60,True,"[SYN, ACK]",80,36050,0,5840,0,1380,1
2007,2008,2020-11-11,01:32:26,64.13.134.52,172.16.0.8,TCP,60,True,"[SYN, ACK]",22,36050,0,5840,0,1380,1
2008,2009,2020-11-21,02:14:13,64.13.134.52,172.16.0.8,TCP,60,True,"[SYN, ACK]",53,36050,0,5840,0,1380,1
2009,2010,2020-11-21,09:37:41,64.13.134.52,172.16.0.8,TCP,60,True,"[SYN, ACK]",80,36050,0,5840,0,1380,1
2010,2011,2020-11-23,02:02:53,64.13.134.52,172.16.0.8,TCP,60,True,"[SYN, ACK]",22,36050,0,5840,0,1380,1

#### Сохраняем DataFrame в _.csv_ файл

In [26]:
df.to_csv(r'report.csv')